<%= stylesheet_link_tag "css/awesome" %>
<%= stylesheet_link_tag "css/simditor" %>
<html>
	<style>
	  .title{
	  	font-size: 28px;
	  }
	</style>
	<head>
	    <meta charset="utf-8">
	</head>
	<body>
	  <div class="container">
		<%= form_for @userbook do |f| %>
		<div class="form-group text-center">
		  <%= f.label  :title ,'昵称',class:"title"%><br>
    	  <%= f.text_field :title,class:"form-control" %>
        </div>
        <div class="desc text-center">
          <%= f.label  :desc ,'座右铭(~￣▽￣)~ ',class:"title"%><br>
    	  <%= f.text_field :desc,class:"form-control" %>
        </div>
        <dic class="img text-center">
          <%= f.label  :img ,'相关图书图片URL ~(✪ω✪)~',class:"title"%><br>
    	  <%= f.text_field :img,class:"form-control" %>
        </dic>
        <div class="content text-center">
	        <%= f.label  :title ,'内容',class:"title"%><br>
			<%= f.text_area :body , class:"editor"%>
		</div>
		<div class="text-center">
		  <%= f.submit '提交', :class => 'btn btn-block btn-default' %>
        </div>
	    <% end %>
	  </div>
	</body>
</html>


<%= javascript_include_tag "js/j" %>
<%= javascript_include_tag "js/module" %>
<%= javascript_include_tag "js/hotkeys" %>
<%= javascript_include_tag "js/uploader" %>
<%= javascript_include_tag "js/simditor" %>
<script>
var editor = new Simditor({
  textarea: $('.editor')
});
</script>