<div class="container">
    <h1>Create New Web Page</h1>
    <%= form_for @goodsinfo do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>
     
      <p>
        <%= f.label :url %><br>
        <%= f.text_area :url %>
      </p>
     
      <p>
          <%= submit_tag "提交", class: "btn btn-embossed btn-primary"%>
      </p>
    <% end %>
</div>